[alias]
	st = status
	graph = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

	amend = commit --amend --no-edit
	squash = commit --squash

	ci = commit -v
	unci = reset HEAD^
	uncommit = reset HEAD^
	unstage = reset HEAD --
	cam = commit -a -m
	cav = commit -a -v

	br = branch
	co = checkout
	su = submodule update --init --recursive

	ignored = !git ls-files -v | grep "^[a-z]"
	ignore = update-index --assume-unchanged
	unignore = update-index --no-assume-unchanged

	branch-prune = !git branch -vv | grep \"\\[.*: gone\\]\" | cut -d \" \" -f3 | xargs git branch -d

	find-merge = "!sh -c 'commit=$0 && branch=${1:-HEAD} && (git rev-list $commit..$branch --ancestry-path | cat -n; git rev-list $commit..$branch --first-parent | cat -n) | sort -k2 | uniq -f1 -d | sort -n | tail -1 | cut -f2'"
	show-merge = "!sh -c 'merge=$(git find-merge $0 $1) && [ -n \"$merge\" ] && git show $merge'"

	clang-format-ls = "!sh -c 'git ls-files *.c *.h *.cpp *.hpp *.mm *.m -z \"$0\" \"$@\" | xargs -r0 clang-format -i'"
[core]
	editor = vim
	filemode = true
	autocrlf = input
[branch]
	autosetuprebase = always
[fetch]
	prune = true
[push]
	default = simple
	recursesubmodules = check
[pull]
	rebase = merges
[rebase]
	autostash = true
[stash]
	showPatch = true
[submodule]
	fetchJobs = 4
[credential]
	helper = store
[interactive]
	diffFilter = "diff-highlight"

[diff]
	compactionHeuristic = true
	tool = bc4
[difftool]
	prompt = false
[difftool "bc4"]
	cmd = bcomp \"$LOCAL\" \"$REMOTE\"
[difftool "bc4w"]
	cmd = \"/mnt/c/Program Files/Beyond Compare 4/BCompare.exe\" \"$(wslpath -w $LOCAL)\" \"`wslpath -w $REMOTE`\"
[difftool "vimdiff"]
	cmd = vimdiff \"$LOCAL\" \"$REMOTE\"

[merge]
	tool = bc4
[mergetool]
	prompt = false
	keepBackup = false
	trustExitCode = true
[mergetool "bc4"]
	cmd = bcomp \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
[mergetool "bc4w"]
	cmd = \"/mnt/c/Program Files/Beyond Compare 4/BCompare.exe\" \"`wslpath -w $LOCAL`\" \"`wslpath -w $REMOTE`\" \"`wslpath -w $BASE`\" \"`wslpath -w $MERGED`\"
[mergetool "vimdiff3"]
	cmd = vim -f -d -c \"wincmd J\" \"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"

[merge "releasenotesmerger"]
    name = release notes merger
    driver = python \"$HOME/projects/coretools/merge_release_notes.py\" %O %A %B
[include]
    path = .gitconfig.local
