[submodule ".local/share/fonts/powerline"]
	path = .local/share/fonts/powerline
	url = https://github.com/powerline/fonts
	ignore = dirty
[submodule ".local/share/dircolors/solarized"]
	path = .local/share/dircolors/solarized
	url = https://github.com/seebi/dircolors-solarized
[submodule ".config/awesome/tyrannical"]
	path = .config/awesome/tyrannical
	url = https://github.com/Elv13/tyrannical
[submodule ".config/awesome/lain"]
	path = .config/awesome/lain
	url = https://github.com/copycat-killer/lain
[submodule ".local/share/zgen"]
	path = .local/share/zgen
	url = https://github.com/tarjoilija/zgen.git
[submodule ".dotmodules/gentoo-tools"]
	path = .dotmodules/gentoo-tools
	url = git@github.com:paneidos/gentoo-tools.git
[submodule ".local/share/gdb/gdb-dashboard"]
	path = .local/share/gdb/gdb-dashboard
	url = https://github.com/cyrus-and/gdb-dashboard.git
[submodule ".vim/tender.vim"]
	path = .vim/tender.vim
	url = git@github.com:dvorszkid/tender.vim.git
