[alias]
	st = status
	graph = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

	amend = commit --amend --no-edit
	squash = commit --squash

	ci = commit -v
	unci = reset HEAD^
	uncommit = reset HEAD^
	unstage = reset HEAD --
	cam = commit -a -m

	br = branch
	co = checkout
	su = submodule update --init --recursive

	ignored = !git ls-files -v | grep "^[a-z]"
	ignore = update-index --assume-unchanged
	unignore = update-index --no-assume-unchanged
[core]
	editor = vim
	filemode = true
	autocrlf = input
[branch]
	autosetuprebase = always
[fetch]
	prune = true
[push]
	default = simple
[pull]
	rebase = preserve
[credential]
	helper = store
[color]
	ui = always

[diff]
	tool = bc4
[difftool]
	prompt = false
[difftool "bc4"]
	cmd = /usr/local/bin/bcompare \"$LOCAL\" \"$REMOTE\"
[difftool "vimdiff"]
	cmd = vimdiff \"$LOCAL\" \"$REMOTE\"

[merge]
	tool = bc4
[mergetool]
	prompt = false
	keepBackup = false
	trustExitCode = true
[mergetool "bc4"]
	cmd = /usr/local/bin/bcompare \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
[mergetool "vimdiff3"]
	cmd = vim -f -d -c \"wincmd J\" \"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"

