[submodule ".local/share/fonts/powerline"]
	path = .local/share/fonts/powerline
	url = https://github.com/powerline/fonts
	ignore = dirty
[submodule ".local/share/dircolors/solarized"]
	path = .local/share/dircolors/solarized
	url = https://github.com/seebi/dircolors-solarized
[submodule ".config/awesome/tyrannical"]
	path = .config/awesome/tyrannical
	url = https://github.com/Elv13/tyrannical
[submodule ".config/awesome/lain"]
	path = .config/awesome/lain
	url = https://github.com/copycat-killer/lain
[submodule ".vim/tender.vim"]
	path = .vim/tender.vim
	url = git@github.com:dvorszkid/tender.vim.git
[submodule ".local/share/zgenom"]
	path = .local/share/zgenom
	url = git@github.com:jandamm/zgenom.git
