#!/bin/sh

. ~/.env
xset r rate 200 40
xrdb ~/.Xresources

# Autostart
urxvtd &
unclutter &
xscreensaver -no-splash &
parcellite &
tresorit --hidden &

# Machine specific
[ -f ~/.xprofile.local ] && source ~/.xprofile.local
