! special
*.foreground:   #b4aea7
*.background:   #151515
*.cursorColor:  #d7d0c7

! black
*.color0:       #101010
*.color8:       #404040

! red
*.color1:       #e84f4f
*.color9:       #d23d3d

! green
*.color2:       #b8d68c
*.color10:      #a0cf5d

! yellow
*.color3:       #e1aa5d
*.color11:      #f39d21

! blue
*.color4:       #7dc1cf
*.color12:      #4e9fb1

! magenta
*.color5:       #9b64fb
*.color13:      #8542ff

! cyan
*.color6:       #6d878d
*.color14:      #42717b

! white
*.color7:       #dddddd
*.color15:      #dddddd


! ------------------------------------------------------------------------------
! --- Xft settings
!  
Xft.dpi:		96
Xft.antialias:	true
Xft.rgba:		none
Xft.autohint:	false
Xft.hinting:	true
Xft.hintstyle:	hintmedium


! ------------------------------------------------------------------------------
! --- XTerm
!
xterm*faceName:			Terminus (TTF)
xterm*faceSize:			12
xterm*utf8:				2
xterm*termName:			xterm-256color
xterm*dynamicColors:	true
xterm*eightBitInput:	true
xterm*saveLines:		5000
xterm*scrollKey:		true
xterm*scrollTtyOutput:	false
xterm*scrollBar:		false
xterm*rightScrollBar:	true
xterm*jumpScroll:		true
xterm*multiScroll:		true
xterm*toolBar:			false


! ------------------------------------------------------------------------------
! --- URxvt
!

! size and look
URxvt.geometry:				120x35
URxvt.font:					xft:Terminus (TTF):pixelsize=14,xft:Envy Code R:size=10,xft:DejaVu Sans Mono for Powerline:style=Book:size=9
URxvt.letterSpace:			1
URxvt.fading:				20

! scrollbar
URxvt.scrollBar:			true
URxvt.scrollBar_right:		true
URxvt.scrollBar_floating:	true
URxvt.scrollstyle:			plain
URxvt.thickness:			1
URxvt.scrollColor:			#333333
URxvt.highlightColor:		#222222

! behavior
URxvt.saveLines:			5000
URxvt.urgentOnBell:			true
URxvt.scrollWithBuffer:		false
URxvt.scrollTtyKeypress:	true
URxvt.jumpScroll:			true
URxvt.keysym.Control-Up:	\033[1;5A
URxvt.keysym.Control-Down:	\033[1;5B
URxvt.keysym.Control-Left:	\033[1;5D
URxvt.keysym.Control-Right:	\033[1;5C

! extensions
URxvt.perl-ext-common:		default,matcher
URxvt.url-launcher:			/usr/bin/xdg-open
URxvt.matcher.button:		1

! ------------------------------------------------------------------------------
! --- xscreensaver
!
!font settings
xscreensaver.Dialog.headingFont:        -*-fixed-bold-r-*-*-*-100-*-*-*-*-iso8859-1
xscreensaver.Dialog.bodyFont:           -*-fixed-bold-r-*-*-*-100-*-*-*-*-iso8859-1
xscreensaver.Dialog.labelFont:          -*-fixed-bold-r-*-*-*-100-*-*-*-*-iso8859-1
xscreensaver.Dialog.unameFont:          -*-fixed-bold-r-*-*-*-100-*-*-*-*-iso8859-1
xscreensaver.Dialog.buttonFont:         -*-fixed-bold-r-*-*-*-100-*-*-*-*-iso8859-1
xscreensaver.Dialog.dateFont:           -*-fixed-bold-r-*-*-*-100-*-*-*-*-iso8859-1
xscreensaver.passwd.passwdFont:         -*-fixed-bold-r-*-*-*-100-*-*-*-*-iso8859-1
!general dialog box (affects main hostname, username, password text)
xscreensaver.Dialog.foreground:         #000000
xscreensaver.Dialog.background:         #666666
xscreensaver.Dialog.topShadowColor:     #333333
xscreensaver.Dialog.bottomShadowColor:  #333333
xscreensaver.Dialog.Button.foreground:  #000000
xscreensaver.Dialog.Button.background:  #525252
!username/password input box and date text colour
xscreensaver.Dialog.text.foreground:    #000000
xscreensaver.Dialog.text.background:    #848484
xscreensaver.Dialog.internalBorderWidth:0
xscreensaver.Dialog.borderWidth:        0
xscreensaver.Dialog.shadowThickness:    1
!timeout bar (background is actually determined by Dialog.text.background)
xscreensaver.passwd.thermometer.foreground:  #272727
xscreensaver.passwd.thermometer.background:  #848484
xscreensaver.passwd.thermometer.width:       8
!datestamp format--see the strftime(3) manual page for details
xscreensaver.dateFormat:%Y. %B %d. %a
!login with kdm
xscreensaver.newLoginCommand: kdmctl reserve

