! ------------------------------------------------------------------------------
! --- terminal colors
!  
*background: #151515
*foreground: #888888
! black
*color0: #292929
*color8: #292929
! *color8: #525252
! red
*color1: #cf6a4c
*color9: #cf6a4c
! *color9: #ff9d80
! green
*color2: #99ad6a
*color10:#99ad6a
! *color10: #c3e6ad
! yellow
*color3: #fad07a
*color11:#fad07a
! *color11: #ffefbf
! blue
*color4: #8197bf
*color12:#8197bf
! *color12: #accaff
! magenta
*color5: #8787af
*color13:#8787af
! *color13: #c4c4ff
! cyan
*color6: #668799
*color14:#668799
! *color14: #80bfaf
! white
*color7: #888888
*color15:#888888
! *color15: #e8e8d3


! ------------------------------------------------------------------------------
! --- Xft settings
!  
Xft.dpi:		96
Xft.antialias:	true
Xft.rgba:		none
Xft.autohint:	false
Xft.hinting:	true
Xft.hintstyle:	hintslight


! ------------------------------------------------------------------------------
! --- XTerm
!
xterm.faceName:			DejaVu Sans Mono:style=Regular:size=8
xterm.utf8:				2
xterm.dynamicColors:	true
xterm.eightBitInput:	true
xterm.saveLines:		5000
xterm.scrollKey:		true
xterm.scrollTtyOutput:	false
xterm.scrollBar:		false
xterm.rightScrollBar:	true
xterm.jumpScroll:		true
xterm.multiScroll:		true
xterm.toolBar:			false


! ------------------------------------------------------------------------------
! --- URxvt
!

! size and look
URxvt.geometry:				120x35
URxvt.font:					xft:DejaVu Sans Mono for Powerline:style=Book:size=9,xft:DejaVu Sans Mono:style=Regular:size=9
URxvt.fading:				40

! scrollbar
URxvt.scrollBar:			true
URxvt.scrollBar_right:		true
URxvt.scrollBar_floating:	true
URxvt.scrollstyle:			plain
URxvt.thickness:			1
URxvt.scrollColor:			#333333
URxvt.highlightColor:		#222222

! behavior
URxvt.saveLines:			5000
URxvt.urgentOnBell:			true
URxvt.scrollWithBuffer:		false
URxvt.scrollTtyKeypress:	true
URxvt.jumpScroll:			true

! extensions
URxvt.perl-ext-common:		default,matcher
URxvt.url-launcher:			/usr/bin/xdg-open
URxvt.matcher.button:		1

! ------------------------------------------------------------------------------
! --- xscreensaver
!
!font settings
xscreensaver.Dialog.headingFont:        -*-fixed-bold-r-*-*-*-100-*-*-*-*-iso8859-1
xscreensaver.Dialog.bodyFont:           -*-fixed-bold-r-*-*-*-100-*-*-*-*-iso8859-1
xscreensaver.Dialog.labelFont:          -*-fixed-bold-r-*-*-*-100-*-*-*-*-iso8859-1
xscreensaver.Dialog.unameFont:          -*-fixed-bold-r-*-*-*-100-*-*-*-*-iso8859-1
xscreensaver.Dialog.buttonFont:         -*-fixed-bold-r-*-*-*-100-*-*-*-*-iso8859-1
xscreensaver.Dialog.dateFont:           -*-fixed-bold-r-*-*-*-100-*-*-*-*-iso8859-1
xscreensaver.passwd.passwdFont:         -*-fixed-bold-r-*-*-*-100-*-*-*-*-iso8859-1
!general dialog box (affects main hostname, username, password text)
xscreensaver.Dialog.foreground:         #000000
xscreensaver.Dialog.background:         #666666
xscreensaver.Dialog.topShadowColor:     #333333
xscreensaver.Dialog.bottomShadowColor:  #333333
xscreensaver.Dialog.Button.foreground:  #000000
xscreensaver.Dialog.Button.background:  #525252
!username/password input box and date text colour
xscreensaver.Dialog.text.foreground:    #000000
xscreensaver.Dialog.text.background:    #848484
xscreensaver.Dialog.internalBorderWidth:0
xscreensaver.Dialog.borderWidth:        0
xscreensaver.Dialog.shadowThickness:    1
!timeout bar (background is actually determined by Dialog.text.background)
xscreensaver.passwd.thermometer.foreground:  #272727
xscreensaver.passwd.thermometer.background:  #848484
xscreensaver.passwd.thermometer.width:       8
!datestamp format--see the strftime(3) manual page for details
xscreensaver.dateFormat:%Y. %B %d. %a
!login with kdm
xscreensaver.newLoginCommand: kdmctl reserve

