#include ".Xresources.d/colors.tender"

!
! Override anything using "xrdb -merge ~/.Xresources.d/<xy>.local" in "~/.xprofile.local"
!

! ------------------------------------------------------------------------------
! --- General
!
*.dpi:		    96


! ------------------------------------------------------------------------------
! --- Xft
!
Xft.antialias:	true
Xft.rgba:		rgb
Xft.autohint:	false
Xft.hinting:	true
Xft.hintstyle:	hintfull
Xft.lcdfilter:	lcddefault


! ------------------------------------------------------------------------------
! --- XTerm
!
xterm*faceName:			Fira Code
xterm*faceSize:			9
xterm*utf8:				2
xterm*termName:			xterm-256color
xterm*boldColors:		false
xterm*dynamicColors:	true
xterm*eightBitInput:	true
xterm*saveLines:		5000
xterm*scrollKey:		true
xterm*scrollTtyOutput:	false
xterm*scrollBar:		false
xterm*rightScrollBar:	true
xterm*jumpScroll:		true
xterm*multiScroll:		true
xterm*toolBar:			false


! ------------------------------------------------------------------------------
! --- URxvt
!

! size and look
URxvt.geometry:				120x35
URxvt.font:					xft:Fira Code:style=Regular:size=9
URxvt.boldFont:				xft:Fira Code:style=Bold:size=9
URxvt.italicFont:			xft:Fira Code:style=Italic:size=9
URxvt.fading:				20
URxvt.intensityStyles:		false

! scrollbar
URxvt.scrollBar:			true
URxvt.scrollBar_right:		true
URxvt.scrollBar_floating:	true
URxvt.scrollstyle:			plain
URxvt.thickness:			1
URxvt.scrollColor:			#333333

! behavior
URxvt.saveLines:			5000
URxvt.urgentOnBell:			true
URxvt.scrollWithBuffer:		false
URxvt.scrollTtyKeypress:	true
URxvt*secondaryWheel:		true
URxvt.jumpScroll:			true
URxvt.keysym.Control-Up:	\033[1;5A
URxvt.keysym.Control-Down:	\033[1;5B
URxvt.keysym.Control-Left:	\033[1;5D
URxvt.keysym.Control-Right:	\033[1;5C
URxvt.print-pipe:			cat > $HOME/$(echo urxvt.dump.$(date +'%Y%M%d%H%m%S'))

! extensions
URxvt.perl-ext-common:		default,matcher,confirm-paste,resize-font
URxvt.matcher.button:		1
URxvt.url-launcher:			/usr/bin/xdg-open
URxvt.keysym.C-minus:       resize-font:smaller
URxvt.keysym.C-KP_Subtract: resize-font:smaller
URxvt.keysym.C-plus:        resize-font:bigger
URxvt.keysym.C-KP_Add:      resize-font:bigger
URxvt.keysym.C-equal:       resize-font:reset
URxvt.keysym.C-KP_Multiply: resize-font:show


! ------------------------------------------------------------------------------
! --- xscreensaver
!
!font settings
xscreensaver.Dialog.headingFont:        -*-fixed-bold-r-*-*-*-100-*-*-*-*-iso8859-1
xscreensaver.Dialog.bodyFont:           -*-fixed-bold-r-*-*-*-100-*-*-*-*-iso8859-1
xscreensaver.Dialog.labelFont:          -*-fixed-bold-r-*-*-*-100-*-*-*-*-iso8859-1
xscreensaver.Dialog.unameFont:          -*-fixed-bold-r-*-*-*-100-*-*-*-*-iso8859-1
xscreensaver.Dialog.buttonFont:         -*-fixed-bold-r-*-*-*-100-*-*-*-*-iso8859-1
xscreensaver.Dialog.dateFont:           -*-fixed-bold-r-*-*-*-100-*-*-*-*-iso8859-1
xscreensaver.passwd.passwdFont:         -*-fixed-bold-r-*-*-*-100-*-*-*-*-iso8859-1
!general dialog box (affects main hostname, username, password text)
xscreensaver.Dialog.foreground:         #000000
xscreensaver.Dialog.background:         #666666
xscreensaver.Dialog.topShadowColor:     #333333
xscreensaver.Dialog.bottomShadowColor:  #333333
xscreensaver.Dialog.Button.foreground:  #000000
xscreensaver.Dialog.Button.background:  #525252
!username/password input box and date text colour
xscreensaver.Dialog.text.foreground:    #000000
xscreensaver.Dialog.text.background:    #848484
xscreensaver.Dialog.internalBorderWidth:0
xscreensaver.Dialog.borderWidth:        0
!timeout bar (background is actually determined by Dialog.text.background)
xscreensaver.passwd.thermometer.foreground:  #272727
xscreensaver.passwd.thermometer.background:  #848484
xscreensaver.passwd.thermometer.width:       8
!datestamp format--see the strftime(3) manual page for details
xscreensaver.dateFormat:%Y. %B %d. %a
!login cmd, write it to /etc/X11/xinit/Xresources
!xscreensaver.newLoginCommand: dm-tool switch-to-greeter
